/*
 * Copyright (c) 2026 Alberto Venzo <alberto.venzo@spiralengineering.it>
 * SPDX-License-Identifier: Apache-2.0
 */
 
 #include <zephyr/dt-bindings/pinctrl/ch32v003-pinctrl.h>

/ {

  ttl_pwm: ttl_pwm {
    compatible = "wch,ttl-pwm";
    pwms = <&pwm1 3 PWM_KHZ(30) PWM_POLARITY_NORMAL>;
    pwm-names = "ttl";
  };
  
};
 
&tim1 {
  status = "okay";
};

&pwm1 {
  status = "okay";
  pinctrl-0 = <&ttl_pwm_pinctrl>;
  pinctrl-names = "default";
};

&pinctrl {
  ttl_pwm_pinctrl: ttl_pwm_pinctrl {
    pinmux = <TIM1_CH3_PC3_0>;
    output-high;
    drive-push-pull;
    slew-rate = "max-speed-10mhz";
  };
};

