/*
 * Copyright (c) 2026 Alberto Venzo <alberto.venzo@spiralengineering.it>
 * SPDX-License-Identifier: Apache-2.0
 */
 
 #include <zephyr/dt-bindings/pinctrl/ch32v003-pinctrl.h>

/ {

  ttl_pwm: ttl_pwm {
    compatible = "wch,ttl-pwm";
    /* Channel index is 0-based in the wch,adtm-pwm driver: 2 = TIM1 CH3 (PC3). */
    pwms = <&pwm1 2 PWM_USEC(30) PWM_POLARITY_NORMAL>;
    pwm-names = "ttl";
  };

};
 
&tim1 {
  status = "okay";
};

&pwm1 {
  status = "okay";
  pinctrl-0 = <&ttl_pwm_pinctrl>;
  pinctrl-names = "default";
};

&pinctrl {
  ttl_pwm_pinctrl: ttl_pwm_pinctrl {
    pinmux = <TIM1_CH3_PC3_0>;
    output-high;
    drive-push-pull;
    slew-rate = "max-speed-10mhz";
  };
};

/* heartbeat toggle on PD4, wired up as led0 by the board's own .dts */
&{/leds} {
  status = "okay";
};

